<h3>Создание расписки </h3>
<br>Дата составления расписки:<input type="date"  placeholder="Дата составления расписки"> </br>
<input type="text"  placeholder="Где составлена расписка">
<br><input type="text"  placeholder="Сумма"></br>
<h2>Паспорт получателя денежных средств</h2>
<br><input type="text"  placeholder="Имя"> </br>
<input type="text"  placeholder="Фамилия">
<br><input type="text"  placeholder="Отчество"></br>
<input type="text"  placeholder="Кем выдан">
<br><input type="text"  placeholder="Когда выдан"></br>
<input type="text"  placeholder="Серия">
<br><input type="text"  placeholder="Номер"></br>
 День рождения: <input type="date"  placeholder="День рождения" >
<br><input type="text"  placeholder="Место рождения"></br>
<input type="text"  placeholder="Адрес регистарции">
<br><input type="text"  placeholder="Адрес проживания"></br>
<input type="text"  placeholder="Место рождения">
<br><input type="text"  placeholder="Код подразделения"></br>

<h2>Паспорт передающего денежные средства</h2>
<br><input type="text"  placeholder="Имя"> </br>
<input type="text"  placeholder="Фамилия">
<br><input type="text"  placeholder="Отчество"></br>
<input type="text"  placeholder="Кем выдан">
<br><input type="text"  placeholder="Когда выдан"></br>
<input type="text"  placeholder="Серия">
<br><input type="text"  placeholder="Номер"></br>
День рождения: <input type="date"  placeholder="День рождения" >
<br><input type="text"  placeholder="Место рождения"></br>
<input type="text"  placeholder="Адрес регистарции">
<br><input type="text"  placeholder="Адрес проживания"></br>
<input type="text"  placeholder="Место рождения">
<br><input type="text"  placeholder="Код подразделения"></br>
<button>Отправить</button>





